.event-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin: 20px 0px;
    padding: 10px;

    background-color: #1969a6;
    border-radius: 16px;
}

h2 {
    margin: 0px;
    /*font-family: 'Paytone One', sans-serif;
    letter-spacing: 1px;*/
    font-size: 30px;

    color: #ace8f6;
}

.event-wrapper > p {
    font-size: 20px;
    color: #ace8f6;
    font-weight: 400;
}

.event-wrapper-host > p {
    font-size: 20px;
    color: #ace8f6;
    font-weight: 400;
}
.event-wrapper-host {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin: 20px 0px;
    padding: 10px;

    background-color: purple;
    border-radius: 16px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }