.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 5px;
    border-bottom: dotted #e14040 5px;
}

h1 {
    color: #1969a6;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 1px;
    margin: 0px;

    font-size: 45px;
}

.btn {
    width: fit-content;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-radius: 16px;
    font-size: 15px;
    margin-right: 8px;
    border: none;
}
.btn-add {
    background-color: #50C878;
    color: white;
}
.btn-join {
    background-color: orange;
    color: white;
}